* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
}

button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
}

.alinha {
    margin-left: 5px;
}

@media (min-width: 1024px) {
    .voltar {
        width: 2%;
        position: absolute;
        top: 7.2%;
        left: 14%;
    }
}

@media (max-width: 1024px) {
    .voltar {
        display: none;
    }
}

body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}